* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    color: var(--ffffff, #FFF);

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
}

body {
    background: #020A18;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

a {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    margin-top: 40px;
    opacity: 0.7;
}

.header {
    /* border: 1px solid #11F1F1; */
    display: inline-flex;
    max-width: 100%;
    height: 75px;
    flex-shrink: 0;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.content {
    /* border: 1px solid #1555F9;  */
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__info {
    /* border: 1px solid #F4C006; */
    max-width: 50%;
}

.top__info h1 {
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

.top__info h3 {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.buttons {
    /* border: 1px solid #29F13D; */

    padding: 15px 0;
    margin-top: 36px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 15px 30px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img_play {
    width: 27px;
    height: 26px;
}

.top_img {
    max-width: 35%;
}

.top__logo {
    /* border: 1px solid #DD0BC8; */
    max-width: 60%;
    height: 117px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo {
    height: 60px;
    flex-shrink: 0;
}

h2 {
    font: 700 40px / 1.3 "Open Sans", sans-serif;
}

.middle_img {
    max-width: 600px;
    max-height: 550px;
}


.cards {
    max-width: 60%;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    grid-template-rows: 3;
    gap: 30px;
}

.card {
    background-color: #132035;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.card_big {
    grid-column: 1/3;
    grid-row: 2/4;
    gap: 60px;
}

.card img {
    width: 25%;
    align-self: center;
}

.card_big img {
    width: 35%;
}

.card h3 {
    font: 700 1.25;
    text-align: center;
    opacity: 0.7;
}

.card p {
    font: 600 1.6;
    text-align: center;
    opacity: 0.7;
}

.footer {
    justify-content: space-between;
    align-items: flex-start;
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    gap: 5%;
}

.footer__column {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    gap: 24px;
}

.img__foot_info {
    width: 13px;
    height: 10.4px;
}

.img__foot_logo {
    width: 18.391px;
    height: 15px;
}

.footer__column h4 {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 850px) {
    .content {
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .top__info {
        max-width: 80%;
    }

    .top_img {
        max-width: 80%;
    }

    .top__info h1 {
        font: 800 48px / 1.3 "Open Sans", sans-serif;
    }

    .top__logo {
        max-width: 90%;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        justify-content: space-between;
    }
    


}