.heading {
    color: darkblue;
}

.heading-about {
    color: orange;
}

#first {
    background: #ff0 url(img/foto.jpg) top repeat-x;
}

.border {
	border: 1px solid black;
}

.title {
    background-color: gray;
}

