@media(max-width:599px) {
    .header {
        font-size: 14px;
        line-height: 64px;
        gap: 16px;

    }

    body {
        width: 100%;
    }

    .top__content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-direction: column;
        margin: 0 auto;
    }

    .top__info {
        padding: 24px;
        width: 80%;
    }

    .imaging {
        width: 100%;

    }

    .imaging__middle {
        width: 100%;
    }

    .img_400 {
        flex-direction: column;
    }

    .text_h3 {
        font-size: 14px;
        text-align: center;
    }

    .text_h1 {
        font-size: 28px;
        text-align: center;
    }

    .text_h5 {
        text-align: center;
    }

    .mid_h1 {
        font-size: 24px;
        text-align: center;
    }

    .top__logo {
        flex-direction: column;
        /* margin: 30px; */
        gap: 32px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .img_400 {
        display: flex;
        gap: 32px;
    }

    .mid_h5 {
        font-size: 16px;
        text-align: center;
    }

    .middle__info {
        width: 100%;
    }

    .middle__content {
        flex-direction: column;
    }

    .top__buttons {
        display: flex;
        flex-direction: column;

    }

    .cards {
        width: 100%;
        grid-template: repeat(3, 1fr) / 1fr;
        align-items: center;
    }

    .text_h10 {
        font-size: 24px;
        text-align: center;

    }

    .hidden_card {
        display: none;
    }

    .buttom__info {
        width: 90%;
        font-size: 40px;
    }

    .buttom__content {
        flex-direction: column;
    }

    p {
        text-align: center;
    }

    .imaging__buttom {
        width: 90%;
    }

    .footer {
        flex-direction: column;
    }
    .text_h4 {
        text-align: center;
    }
    
}